*.obj
*.pdb
*.user
.ncb
*.suo
*.[Cc]ache
*.log
*.vspscc
*.scc
*.zip
*.tmp
*.docstates
[Pp]ublish.xml
.resources
*.userprefs
*.pidb
*.orig
*.docstates
[Pp]ackages*/
[Dd]ebug*/
[Rr]elease*/
[Bb]in*/
[Oo]bj*/
_Re[Ss]harper*/
